<!DOCTYPE html>
<html lang="en" official_website="https://cn.vuejs.org/v2/guide/components.html">
<head>
  <meta charset="UTF-8">
  <title>组件基础</title>
  <script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div id="components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>
  <br>

  <div id="components-demo3">
    <button-counter2></button-counter2>
    <button-counter2></button-counter2>
    <button-counter2></button-counter2>
  </div>
  <hr>

  <!--如上所示，你会发现我们可以使用 v-bind 来动态传递 prop。
  这在你一开始不清楚要渲染的具体内容，比如从一个 API 获取博文列表的时候，是非常有用的。-->
  <div id="blog-post-demo">
    <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
    ></blog-post>
  </div>
  <hr>

  <div id="blog-post-demo-1">
    <blog-post-2
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
    ></blog-post-2>
  </div>
  <hr>

  <div id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
      <blog-post-3
              v-for="post in posts"
              v-bind:key="post.id"
              v-bind:post="post"
              v-on:enlarge-text="postFontSize += $event"
      ></blog-post-3>
    </div>
  </div>
  <hr>

  <div id="xxx_1">
    <custom-input v-model="searchText"></custom-input>
  </div>
  <hr>

  <!--没看懂： v-bind:class="['tab-button', { active: currentTab === tab }]"-->
  <div id="dynamic-component-demo" class="demo">
    <button
            v-for="tab in tabs"
            v-bind:key="tab"
            v-bind:class="['tab-button', { active: currentTab === tab }]"
            v-on:click="currentTab = tab"
    >
      {{ tab }}
    </button>

    <component v-bind:is="currentTabComponent" class="tab"></component>
  </div>

  <script>
    Vue.component("tab-home", {
      template: "<div>Home component</div>"
    });
    Vue.component("tab-posts", {
      template: "<div>Posts component</div>"
    });
    Vue.component("tab-archive", {
      template: "<div>Archive component</div>"
    });

    new Vue({
      el: "#dynamic-component-demo",
      data: {
        currentTab: "Home",
        tabs: ["Home", "Posts", "Archive"]
      },
      computed: {
        currentTabComponent: function () {
          return "tab-" + this.currentTab.toLowerCase();
        }
      }
    });
  </script>
</body>

<script>
  // 定义一个名为 button-counter 的新组件
  Vue.component('button-counter', {
    data: function () {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  });
  /*
  组件是可复用的 Vue 实例，且带有一个名字：在这个例子中是 <button-counter>。
  我们可以在一个通过 new Vue 创建的 Vue 根实例中，把这个组件作为自定义元素来使用：

  因为组件是可复用的 Vue 实例，所以它们与 new Vue 接收相同的选项，
  例如 data、computed、watch、methods 以及生命周期钩子等。仅有的例外是像 el 这样 根实例特有的 选项。
  */
  new Vue({el: '#components-demo'});


  /*
  当我们定义这个 <button-counter> 组件时，你可能会发现它的 data 并不是像这样直接提供一个对象：
  data: {
    count: 0
  }

  取而代之的是，一个组件的 data 选项必须是一个函数，因此每个实例可以维护一份被返回对象的独立的拷贝：
  data: function () {
    return {
      count: 0
    }
  }

  如果 Vue 没有这条规则，点击一个按钮就可能会像如下代码一样影响到其它所有实例：
  */
  var buttonCounter2Data = {
    count: 0
  };
  Vue.component('button-counter2', {
    data: function () {
      return buttonCounter2Data
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  });
  new Vue({el: '#components-demo3'});


  /*
  Prop 是你可以在组件上注册的一些自定义 attribute。
  当一个值传递给一个 prop attribute 的时候，它就变成了那个组件实例的一个 property。
  为了给博文组件传递一个标题，我们可以用一个 props 选项将其包含在该组件可接受的 prop 列表中：

  一个组件默认可以拥有任意数量的 prop，任何值都可以传递给任何 prop。
  在上述模板中，你会发现我们能够在组件实例中访问这个值，就像访问 data 中的值一样。
  */
  Vue.component('blog-post', {
    props: ['title'],
    template: '<h3>{{ title }}</h3>'
  });

  new Vue({
    el: '#blog-post-demo',
    data: {
      posts: [
        {id: 1, title: 'My journey with Vue'},
        {id: 2, title: 'Blogging with Vue'},
        {id: 3, title: 'Why Vue is so fun'}
      ]
    }
  });
  /*
  看起来当组件变得越来越复杂的时候，我们的博文不只需要标题和内容，还需要发布日期、评论等等。为每个相关的信息定义一个 prop 会变得很麻烦。
  所以是时候重构一下这个 <blog-post> 组件了，让它变成接受一个单独的 post prop。
  现在，不论何时为 post 对象添加一个新的 property，它都会自动地在 <blog-post> 内可用。

  下述的这个和一些接下来的示例使用了 JavaScript 的模板字符串来让多行的模板更易读。
  它们在 IE 下并没有被支持，所以如果你需要在不 (经过 Babel 或 TypeScript 之类的工具) 编译的情况下支持 IE，请使用折行转义字符取而代之。
  */
  Vue.component('blog-post-2', {
    props: ['post'],
    template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <div v-html="post.content"></div>
    </div>
  `
  });

  new Vue({
    el: '#blog-post-demo-1',
    data: {
      posts: [
        {id: 1, title: 'My journey with Vue', content: 'content-111'},
        {id: 2, title: 'Blogging with Vue', content: 'content-222'},
        {id: 3, title: 'Why Vue is so fun', content: 'content-333'}
      ]
    }
  });

  /*
  在我们开发 <blog-post> 组件时，它的一些功能可能要求我们和父级组件进行沟通。
  例如我们可能会引入一个辅助功能来放大博文的字号，同时让页面的其它部分保持默认的字号。

  在其父组件中，我们可以通过添加一个 postFontSize 数据 property 来支持这个功能.

  当点击这个按钮时，我们需要告诉父级组件放大所有博文的文本。
  幸好 Vue 实例提供了一个自定义事件的系统来解决这个问题。
  父级组件可以像处理 native DOM 事件一样通过 v-on 监听子组件实例的任意事件.

  同时子组件可以通过调用内建的 $emit 方法并传入事件名称来触发一个事件.

  有的时候用一个事件来抛出一个特定的值是非常有用的。
  例如我们可能想让 <blog-post> 组件决定它的文本要放大多少。这时可以使用 $emit 的第二个参数来提供这个值：

  然后当在父级组件监听这个事件的时候，我们可以通过 $event 访问到被抛出的这个值：

  */
  Vue.component('blog-post-3', {
    props: ['post'],
    template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('enlarge-text', 0.1)">
        Enlarge text
      </button>
      <div v-html="post.content"></div>
    </div>
  `
  });
  new Vue({
    el: '#blog-posts-events-demo',
    data: {
      posts: [
        {id: 1, title: 'My journey with Vue', content: 'content-111'},
        {id: 2, title: 'Blogging with Vue', content: 'content-222'},
        {id: 3, title: 'Why Vue is so fun', content: 'content-333'}
      ],
      postFontSize: 1
    },
    methods: {
      onEnlargeText: function (enlargeAmount) {
        this.postFontSize += enlargeAmount
      }
    }
  });

  /*
  在组件上使用v-model

  自定义事件也可以用于创建支持 v-model 的自定义输入组件。记住：
  <input v-model="searchText">
  等价于：
  <input
    v-bind:value="searchText"
    v-on:input="searchText = $event.target.value"
  >

  当用在组件上时，v-model 则会这样：
  <custom-input
    v-bind:value="searchText"
    v-on:input="searchText = $event"
  ></custom-input>

  为了让它正常工作，这个组件内的 <input> 必须：
  1.将其 value attribute 绑定到一个名叫 value 的 prop 上
  2.在其 input 事件被触发时，将新的值通过自定义的 input 事件抛出
  写成代码之后是这样的：
  */
  Vue.component('custom-input', {
    props: ['value_x'],
    template: `
    <input
      v-bind:value="value_x"
      v-on:input="$emit('input', $event.target.value)"
    >
  `
  });

  var xxx_1 = new Vue({
    el: '#xxx_1',
    data: {
      searchText: "searchText"
    }
  });

</script>
<style>
  .tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f0f0f0;
    margin-bottom: -1px;
    margin-right: -1px;
  }

  .tab-button:hover {
    background: #e0e0e0;
  }

  .tab-button.active {
    background: #e03d59;
  }

  .tab {
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>
</html>