<!DOCTYPE html>
<html lang="en" official_website="https://cn.vuejs.org/v2/guide/forms.html">
<head>
  <meta charset="UTF-8">
  <title>表单输入绑定</title>
  <script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div id="example-1">
    <!--文本-->
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
    <br>

    <!--多行文本-->
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message2 }}</p>
    <textarea v-model="message2" placeholder="add multiple lines"></textarea>
    <br>

    <!--单个复选框，绑定到布尔值：-->
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <br>

    <!--多个复选框，绑定到同一个数组：-->
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    <br>

    <!--&lt;!&ndash;多个复选框，绑定到同一个数组(使用模板)：&ndash;&gt;-->
    <!--<template v-for="name in ['jack','john','mike']">-->
    <!--  <input type="checkbox" :id="name" :value="upFirst(name)" v-model="checkedNames">-->
    <!--  <label :for="name">{{upFirst(name)}}</label>-->
    <!--</template>-->
    <!--<br>-->
    <!--<span>Checked names: {{ checkedNames }}</span>-->
    <!--<hr>-->
    <button type="button" @click="submit">提交</button>
  </div>
  <hr>

  <!--单选按钮-->
  <div id="example-4">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
  </div>
  <hr>

  <!--选择框-->
  <!--
  如果 v-model 表达式的初始值未能匹配任何选项，<select> 元素将被渲染为“未选中”状态。
  在 iOS 中，这会使用户无法选择第一个选项。因为这样的情况下，iOS 不会触发 change 事件。
  因此，更推荐像下面这样提供一个值为空的禁用选项。
  -->
  <div id="example-5">
    <select v-model="selected">
      <option disabled value="">请选择</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
  </div>
  <hr>

  <!--多选时 (绑定到一个数组)：-->
  <div id="example-6">
    <select v-model="selected" multiple style="width: 50px;">
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
  </div>
  <hr>

  <!--用 v-for 渲染的动态选项：-->
  <!--
  但是有时我们可能想把值绑定到 Vue 实例的一个动态 property 上，
  这时可以用 v-bind 实现，并且这个 property 的值可以不是字符串。
  -->
  <div id="example-7">
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <span>Selected: {{ selected }}</span>
  </div>
  <hr>

  <!--复选框
  这里的 true-value 和 false-value attribute 并不会影响输入控件的 value attribute，
  因为浏览器在提交表单时并不会包含未被选中的复选框。
  如果要确保表单中这两个值中的一个能够被提交，(即“yes”或“no”)，请换用单选按钮。
  -->
  <div id="example-8">
    <input
            type="checkbox"
            v-model="toggle"
            true-value="yes"
            false-value="no"
            id="x1"
    >
    <label for="x1">{{toggle}}</label>
  </div>
  <hr>

  <!--选择框的选项-->
  <div id="example-9">
    <select v-model="selected">
      <!-- 内联对象字面量 -->
      <!-- 当选中时: typeof app9.selected  => 'object' -->
      <option disabled value="">请选择</option>
      <option v-for="item in items" v-bind:value="item">{{item.number}}</option>
    </select>
  </div>
  <hr>

  <div id="example-10">
    <!-- 在“change”时而非“input”时更新 -->
    <input id="x2" v-model.lazy="msg" placeholder="请输入...">
    <label for="x2">{{msg}}</label>
  </div>
  <hr>

  <div id="example-11">
    <!--
    如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符：
    这通常很有用，因为即使在 type="number" 时，HTML 输入元素的值也总会返回字符串。
    如果这个值无法被 parseFloat() 解析，则会返回原始的值。
    -->
    <input id="x3" v-model.number="age" type="number">
    <label for="x3">{{age}}</label>
  </div>
  <hr>

  <div id="example-12">
    <!--如果要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符：-->
    <input id="x4" v-model.trim="msg" type="text">
    <label for="x4">{{msg}}</label>
  </div>
</body>

<script>
  new Vue({
    el: '#example-1',
    data: {
      message: '',
      message2: '',
      checked: false,
      checkedNames: [],
    },
    methods: {
      upFirst: function (str) {
        return str.slice(0, 1).toUpperCase() + str.slice(1)
      },
      submit: function () {
        var postObj = {
          msg1: this.message,
          msg2: this.message2,
          checked: this.checked,
          checkedNames: this.checkedNames,
        };
        console.log('提交内容：', postObj)
      }

    }
  });

  new Vue({
    el: '#example-4',
    data: {
      picked: ''
    }
  });

  new Vue({
    el: '#example-5',
    data: {
      selected: ''
    }
  });

  new Vue({
    el: '#example-6',
    data: {
      selected: []
    }
  });

  var app7 = new Vue({
    el: '#example-7',
    data: {
      selected: 'A',
      options: [
        {text: 'One', value: 'A'},
        {text: 'Two', value: 'B'},
        {text: 'Three', value: 'C'}
      ]
    }
  });

  new Vue({
    el: '#example-8',
    data: {
      toggle: 'yes',
    }
  });

  var app9 = new Vue({
    el: '#example-9',
    data: {
      selected: '',
      items: [{number: 123}, {number: 456}, {number: 789},]
    }
  });

  new Vue({
    el: '#example-10',
    data: {
      msg: '',
    }
  });

  new Vue({
    el: '#example-11',
    data: {
      age: '',
    }
  });

  var app12 = new Vue({
    el: '#example-12',
    data: {
      msg: '',
    }
  });
</script>
</html>